<p>
    Hola <%= userName %>!
    Tienes un nuevo pedido pendiente: #<%= orderData.id %>
</p>
<ul>
    <% lines.forEach(function(line){ %>
        <li>
            <p>Producto: <%= line.productName %></p>
            <p>Cantidad: <%= line.quantity %></p>
        </li>
    <% }); %>
</ul>